body{
    /*  background: rgb(206, 135, 2); */
 }
 h1{
     text-align:center;
     font-family:Arial, Helvetica, sans-serif;
 }
 .log-in{
     display: inline-block;
     width:80px;
     height: 30px;
     padding-top:10px;
     float:right;
     position: absolute;;
     top:0;
     right:0;
     color:white;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     border-radius: 0px 0px 10px 10px;
     background: #0092e7;
 }
 .log-out{
     display: inline-block;
     width:80px;
     height: 30px;
     padding-top:10px;
     float:right;
     position:absolute;
     top:0;
     right:0;
     color:white;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;
     border-radius: 0px 0px 10px 10px;
     background: #0092e7;
     display:none;
 }
 #textfield_div{
     overflow: auto;
     margin:60px auto 30px auto;
     width:80%;
     text-align: center;
     background: rgb(228, 228, 228);
     padding:20px 0px 30px 0px;
     box-shadow: 0px 0px 10px 2px rgb(175, 175, 175)
 }
 #textfield_div h2{
     font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
     font-size: 30px;
 }
 #val{
     border:none;
     margin-top:30px;
     border: 1px solid rgb(66, 66, 66);
     width:70%;
     border-radius:10px;
     height: 30px;
     padding-left:15px;
     outline:none;
     font-size:18px;
 }
 #btn{
     margin-left:30px;
     padding:10px 40px 10px 40px;
     border-radius: 10px;
     background: #699eff;
     border:none;
     font-size:16px;
     color:white;
     outline: none;
 }
 #btn:active{
     background: #227aff;
 }
 #ul_style_div{
     margin:10px auto;
     width:80%;
     text-align: center;
     background: rgb(228, 228, 228);
     padding:20px 0px 30px 0px;
     box-shadow: 0px 0px 10px 2px rgb(175, 175, 175)
 }
 #ul_style_div h1{
     text-align: left;
     padding-left:60px;
     font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
 }
 #ul_style_div ul{
     text-align: left;
     padding-left:70px;
 }
 ul li{
     font-size: 20px;
     overflow: auto;
     border-bottom:1px solid rgb(73, 4, 4);
     width:95%;
     margin-bottom: 20px 
 }
 ul button{
     margin:0px 10px 10px 0px;
     color:white;
     background: #227aff;
     padding:10px 20px 10px 20px;
     border:none;                                                                                             
     border-radius:10px;
     float:right;
     overflow: auto;
     outline:none;
 }
 #del_button{
     margin:0px 10px 10px 30px;
     color:white;
     background: rgb(175, 0, 0);
     padding:10px 20px 10px 20px;
     border:none;                                                                                             
     border-radius:10px;
     outline:none;
 }
 @media screen and (width:360px){
     #btn{
         margin:10px;
     }
 }
 @media screen and (width:320px){
     #btn{
         margin:10px;
     }
 }